<div class="bootstrap-wrapper">

    <div class="container mt">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="container text-center">
            <img
              class="image-fluid"
              style="width: 100px"
              src="/assets/settings.webp"
              alt=""
            />
          </div>
          <h1 class="text-center">Edit your details here</h1>
  
          <!-- form-->
          <form class="solid" >
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Enter your email</mat-label>
              <input
              type="email"
              id="email"
              name="emailid"
              placeholder="Enter email address"
              required 
              matInput/>
          
            </mat-form-field>
            
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Enter current password</mat-label>
                <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter password"
                required
                matInput
              />
             
              </mat-form-field>
            
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Enter new password</mat-label>
              <input
              type="password"
              id="password"
              name="password"
              placeholder="Enter password"
              required
              matInput
            />
           
            </mat-form-field>
  
  
            <div class="container text-center">
              <button type="button" mat-raised-button color="primary" >
              Save changes
              </button>
  
              <button
                style="margin-left: 10px"
                type="reset"
                mat-raised-button
                color="accent"
              >
                Cancel
              </button>
            </div>
            <br />
            </form>
        </div>
        </div>
        </div>
        </div>
        
  
          
      <!--   <p class="mt">   {{user | json}} </p>  -->
      
  
  

  